header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    display: flex;
    text-align: center;
    align-items: center;

    justify-content: space-between;
}


li{
    list-style: none;
}

a{
    text-decoration: none;
}

li >a{
    color: lightslategrey;
}
li > a:hover{
    color: #333;

}

img{
    width: 50px;
    height: auto;
}

nav{
    max-width: 1120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;

}

.banner-starbucks{
    height: 60vh;
    margin: auto;

}

.banner-starbucks > img{
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 2px;

}

.img-sb{
    width: 125px;
    height: auto;
}

figure > img{
    width: inherit;
    height: auto;
}

.div-color{
    background-color: #d4e9e2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}


main > div > button{
    width: 80px;
    background-color: transparent;
    color: black;
    border-radius: 8px;
    padding: 2.5px;
    justify-content: space-evenly;
}

div{
    justify-content: space-between;
}

div > img{
    width: 1120px;
}
